<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="doctor">
    
 
  <!-- 김다유 : 의사프로필 -->
  <select id="doctor_profile" parameterType="doctorDTO" resultType="doctorDTO">
  	select * from dl_doctor where doctor_num=1
  </select>
  
  
   <!-- 의료진소개 -->
    <select id="getSearch" resultType="SearchDTO">
		SELECT * FROM SEARCH
	</select>
  
  </mapper>